.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-branco-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--cor-azul-degrade);
}

.container {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.container__imagem-left {
    padding: 1.5em;
}

.img-perfil {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 0.9em;
    background-color: var(--cor-branco-principal);
}

.lista-menu__titulo {
    color: var(--cor-amarela);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.container__botao,
.container__titulo,
.lista-menu__secundario,
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer,
    .container__imagem-favoritos,
    .opcao__botao {
        display: none;
    }

    .container__imagem-right {
        margin-right: 2.5em;
    }

    .container__titulo {
        display: block;
        font-family: var(--font-secundaria-josefin);
        font-size: 2rem;
        font-weight: 400;
        color: var(--cor-preta);
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .lista-menu__secundario {
        display: flex;
    }

    .lista-menu__item-secundario {
        padding: 2em 2em ;
    }

    .lista-menu__link-secundario {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .opcao__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcao__botao:checked ~ .opcao__rotulo > .lista-menu__item-secundario {
        background: var(--cor-azul-degrade);
        color: var(--cor-branco-principal);
    }

    .lista-menu__item:hover {
        background: var(--cor-azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco-principal);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        margin-right: 3.5em;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--cor-preta);
    }

    .container__imagem-right {
        margin-right: 0;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcao {
        margin-right: auto;
    }

}