.topicos {
    background-color: var(--cor-branco-principal);
    padding-top: 1em;
}

.topicos__descricao {
    background: var(--cor-azul-degrade);
    text-align: center;
}

.topicos__descricao-titulo {
    color: var(--cor-branco-principal);
    font-weight: 300;
    padding: 1.5em 0;
}

.topicos__descricao-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em 1.5em 1em;
}

.descricao__lista-item {
    background-color: var(--cor-amarela);
    padding: 1em;
    margin: 0.5em;
}

.descricao__lista-link {
    color: var(--cor-branco-principal);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
}

.contato {
    background-color: var(--cor-branco-principal);
    padding: 1.5em;
}

.contato__titulo, .contato__texto, .contato__email {
    background: var(--cor-azul-degrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.contato__titulo {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.contato__texto {
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.contato__email {
    padding: 0.8em;
    border: 1px solid var(--cor-azul-texto);
    border-radius: 1.5em;
    width: 90%;
}

.contato__email::placeholder {
    background: url("../assets/email.svg") no-repeat;
    background-position: 1em;
    padding-left: 3.2em;
    font-family: var(--font-principal-poppins);
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {
    .topicos__descricao-titulo {
        font-size: 1.5rem;
        padding: 1.3em 0 1.6em 0
    }

    .descricao__lista-link {
        font-size: 1.5rem;
    }

    .descricao__lista-item {
        padding: 1.5em 2em;
        margin: 0.8em;
    }

    .contato {
        display: flex;
        align-items: center;
    }

    .contato__email-input{
        width: 50%;
    }

    .contato__descricao {
        width: 50%;
        margin: 0 8em;
    }

    .contato__titulo {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1728px ) {
    .topicos__descricao {
        padding: 4em 20vw;
    }

    .topicos__descricao-titulo {
        font-size: 2em;
        padding: 0;
        margin-bottom: 1em;
    }

    .topicos__descricao-lista {
        padding: 0;
    }

    .contato {
        padding: 4em 25vw;
    }

    .contato__descricao {
        margin: 0 1em 0 0;
    }

    .contato__texto {
        margin-right: 2em;
    }
}